.container {
  max-width: 120rem;//that the container can decrease
  margin: 0 auto;
  background-color: var(--color-grey-light);
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3)
}

// .header {

// }

// .content {

// }

// .sidebar {

// }

// .hotel-view {

// }